html {
  font-size: 110%;
  box-sizing: border-box;
}

#me {
  width: 80%;
  border-radius: 50%;
}

body {
  margin: 0;
  padding: 50px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.3;
  font-weight: 400;
  text-align: justify;
}

a:visited, a:hover {
  text-decoration: none;
  color:#069;
}

a {
  text-decoration: none;
  color:#39c;
}

ul {
  list-style-type: disc;
}

li {
  display: list-item;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: justify;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

th, td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5;
}

.header {
  width: 20%;
  float: left;
  position: fixed;
  display: block;
  font-size: 100%;
  background-color: white;
  justify-content: center;
  align-items: center;
}


header ul a {
  color: #595959;
  font-weight: 300;
  font-variant: initial;
}

header ul {
  text-align: center;
  list-style-type: none;
  margin-right: 30px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#name {
  text-align: justify;
}

.content {
  width: 70%;
  display: block;
  float: right;
  margin: 0 5% 100px 5%;
}


@media screen and (max-width: 800px) {
  .header {
    width: 100%;
    float: none;
    position: relative;
  }
  .content {
    width: auto;
    display: block;
    float: none;
    margin: 0 5%;
  }
  #me {
    width: 50%;
    border-radius: 50%;
  }
  body {
    padding: 10px;
  }
}
